<div class="row">
    <div class="col-lg-12">
        <h1 ng-if="!vm.model.edit" class="page-header">Nova Conferência</h1>
        <h1 ng-if="vm.model.edit" class="page-header">Editar Conferência</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Formulário da Conferência
            </div>
            <form role="form" ng-submit="vm.save()">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Sala:</label>
                                <input type="text" class="form-control" ng-model="vm.model.conferenceName">
                            </div>
                            <div class="form-group">
                                <label>Número da Sala:</label>
                                <input type="text" class="form-control" ng-model="vm.model.conferenceNumber">
                            </div>
                            <div class="form-group">
                                <label>Senha:</label>
                                <input type="text" minlength="3" maxlength="11" ng-model="vm.model.pin"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Senha de Administrador:</label>
                                <input type="text" minlength="3" maxlength="11" ng-model="vm.model.adminPin"
                                       class="form-control">
                            </div>


                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Grupo de Música:</label>
                                <select class="form-control" ng-model="vm.model.musicGroup" >
                                    <!--<option ng-repeat="music in vm.musicList" value='{{music.musicGroup}}'>-->
                                    <!--{{music.musicGroup}}-->
                                    <!--</option>-->
                                </select>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-value="true" ng-model="vm.model.silent">Silencioso
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-value="true" ng-model="vm.model.conferenceRecording">Gravar Conferência
                                </label>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
                <div class="panel-footer height-panel-footer">
                    <button type="submit" class="btn btn-success pull-right margin-left-10">Salvar</button>
                    <button type="button" ng-click="vm.back()" class="btn btn-danger  pull-left">Voltar</button>
                </div>
            </form>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>