.margin-top-10{
  margin-top: 10px;
}
.margin-negative-top-10{
  margin-top: -10px;
}
.cursor-pointer{
  cursor: pointer;
}

.answer-container {
  float: right;
  margin-top: 10px;
}

.margin-right-5{
  margin-right: 5px;
}

.btn-cancel {
  color: #fff;
  background: #7b7070;
  border-color: #7b7070;
}

.btn-cancel:hover, .btn-cancel:focus, .btn-cancel.focus {
  color: #fff;
  text-decoration: none;
}

.table-td-width {
  width: 20%;
}

.height-panel-footer {
  height: 65px !important;
}

.margin-left-10{
  margin-left: 10px;
}