<div class="col-md-2"></div>
<div class="col-md-8">
  <uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" dismiss-on-timeout="{{alert.time}}" close="vm.closeAlert($index)">{{alert.msg}}</uib-alert>
  <main class="auth-main">
    <div class="auth-block">
      <img src="assets/img/app_logo.png" class="login-logo-img"/>
      <h2 class="auth-link" ng-bind="'support.userPasswordRecovery.title' | translate | uppercase"></h2>
      <form class="form-horizontal" novalidate="novalidate" ng-submit="vm.recoveryPassword()">
          <div class="form-group">
            <label for="form_email" class="col-sm-3 control-label">{{'support.userPasswordRecovery.email' | translate}}</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="form_email" ng-model="vm.email" placeholder="{{'support.userPasswordRecovery.email' | translate}}" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-default btn-auth">{{'support.userPasswordRecovery.button' | translate}}</button>
            </div>
          </div>
      </form>
    </div>
  </main>
</div>
<div class="col-md-2"></div>



